.glider {

  @include media-breakpoint-up(xl) {
    @include make-row;
  }

}

.service {
  display: block;
  position: relative;
  padding: 1rem;
  @include make-col-ready;
  @include make-col(12);

  @media (min-width: 375px) {
    padding: 1.5rem;
    @include make-col(6);
  }

  @include media-breakpoint-up(lg) {
    padding: 2rem;
    @include make-col(4);
  }

  &__body {
    position: relative;
    overflow: hidden;
    height: 100%;
    margin: 0;
    color: $color-white;
    border: 0.2rem solid $color-white;
    @include border-radius ($border-radius);
    @include transition (all 0.3s ease-in-out);
  }

  &__media {
    height: 14rem;
    width: 100%;
    display: block;
    overflow: hidden;
    position: relative;
    background: $color-white;
    // @include border-radius ($border-radius - 0.1rem $border-radius - 0.1rem 0 0);

    @include media-breakpoint-up(lg) {
      height: 15rem;
    }

  }

  &__caption {
    padding: 2rem;
    background: none;
    @include border-radius (0);
  }

  &__img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    @include transition(all 0.3s ease-in-out);

    img {
      display: none;
      visibility: hidden;
    }

  }

  &__heading {
    color: $color-white;
    font-size: 1.7rem;
    font-weight: $weight-extrabold;

    @include media-breakpoint-up(md) {
      font-size: 2.4rem
    }

    @include media-breakpoint-up(lg) {
      font-size: 2.6rem
    }

  }

  &__excerpt {
    font-size: 1.4rem;
    @include transition-base;

    @include media-breakpoint-up(md) {
      font-size: 1.6rem
    }

    p:last-child {
      margin-bottom: 0;
    }

  }

  .btn {
    font-size: 1.3rem;

    @include media-breakpoint-up(md) {
      font-size: 1.5rem
    }

  }

  &:hover, &:focus-within {

    .service {

      // &__img {
      //   // @include transform (scale(1.1));
      // }
    
      &__body {
        // background: $color-gamma;
        @include transform (translateY(-1rem));
        @include shadow-1;
      }

    }

  }

}