
/* --------------------- CSS PROPERTIES --------------------- */

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

@mixin transition($transition){
 -webkit-transition: $transition;
 -moz-transition: $transition;
 -o-transition: $transition;
 -ms-transition: $transition;
 transition: $transition;
}

@mixin transform($transform){
 -webkit-transform: $transform;
 -moz-transform: $transform;
 -o-transform: $transform;
 -ms-transform: $transform;
 transform: $transform;
}

@mixin box-shadow($box-shadow){
 -webkit-box-shadow: $box-shadow;
 -moz-box-shadow: $box-shadow;
 box-shadow: $box-shadow;
}

@mixin text-shadow($text-shadow){
 -webkit-text-shadow: $text-shadow;
 -moz-text-shadow: $text-shadow;
 -o-text-shadow: $text-shadow;
 -ms-text-shadow: $text-shadow;
 text-shadow: $text-shadow;
}

@mixin appearance($appearance) {
  -webkit-appearance: $appearance;
  -moz-appearance: $appearance;
  appearance: $appearance;
}

@mixin transition-timing-function($transition-timing-function) {
  -webkit-transition-timing-function: $transition-timing-function;
  -moz-transition-timing-function: $transition-timing-function;
  -o-transition-timing-function: $transition-timing-function;
  transition-timing-function: $transition-timing-function;
}

@mixin transition-property($transition-property) {
  -webkit-transition-property: $transition-property;
  -moz-transition-property: $transition-property;
  -o-transition-property: $transition-property;
  transition-property: $transition-property;
}

@mixin transition-duration($transition-duration) {
  -webkit-transition-duration: $transition-duration;
  -moz-transition-duration: $transition-duration;
  -o-transition-duration: $transition-duration;
  transition-duration: $transition-duration;
}

@mixin transition-delay($transition-delay) {
  -webkit-transition-delay: $transition-delay;
  -moz-transition-delay: $transition-delay;
  -o-transition-delay: $transition-delay;
  transition-delay: $transition-delay;
}

@mixin transform-origin($transition-origin) {
  -webkit-transform-origin: $transition-origin;
  -moz-transform-origin: $transition-origin;
  -o-transform-origin: $transition-origin;
  -ms-transform-origin: $transition-origin;
  transform-origin: $transition-origin;
}

@mixin user-select($user-select) {
  -webkit-user-select: $user-select;
  -moz-user-select: $user-select;
  -ms-user-select: $user-select;
  user-select: $user-select;
}

@mixin backface-visibility ($backface-visibility) {
  -webkit-backface-visibility: $backface-visibility;
  -moz-backface-visibility: $backface-visibility;
  -ms-backface-visibility: $backface-visibility;
  -o-backface-visibility: $backface-visibility;
  backface-visibility: $backface-visibility;
}

@mixin perspective ($perspective) {
  -webkit-perspective: $perspective;
  -moz-perspective: $perspective;
  -ms-perspective: $perspective;
  -o-perspective: $perspective;
  perspective: $perspective;
}

@mixin background-size ($background-size) {
  -webkit-background-size: $background-size;
  -moz-background-size: $background-size;
  -o-background-size: $background-size;
  background-size: $background-size;
}


/* --------------------- ELEMENT STATES --------------------- */

@mixin hover {
  &:hover { @content; }
}

@mixin hover-focus {
  &:hover,
  &:focus {
    @content;
  }
}

@mixin plain-hover-focus {
  &,
  &:hover,
  &:focus {
    @content;
  }
}

@mixin hover-focus-active {
  &:hover,
  &:focus,
  &:active {
    @content;
  }
}


@mixin focus {
  &:focus, &:focus:active {
    @content;
  }
}

@mixin active {
  &:active {
    @content;
  }
}

@mixin visited {
  &:visited {
    @content;
  }
}

@mixin placeholder {
  &::-webkit-input-placeholder {
    @content;
  }
  &::-moz-placeholder {
    @content;
  }
  &:-ms-input-placeholder {
    @content;
  }
  &:-moz-placeholder {
    @content;
  }
}


/* --------------------- ANIMATION --------------------- */

@mixin animation-name ($animation-name) {
  -webkit-animation-name: $animation-name;
  -moz-animation-name: $animation-name;
  -ms-animation-name: $animation-name;
  -o-animation-name: $animation-name;
  animation-name: $animation-name;
}

@mixin animation-duration ($animation-duration) {
  -webkit-animation-duration: $animation-duration;
  -moz-animation-duration: $animation-duration;
  -ms-animation-duration: $animation-duration;
  -o-animation-duration: $animation-duration;
  animation-duration: $animation-duration;
}

@mixin animation-delay ($animation-delay) {
  -webkit-animation-delay: $animation-delay;
  -moz-animation-delay: $animation-delay;
  -ms-animation-delay: $animation-delay;
  -o-animation-delay: $animation-delay;
  animation-delay: $animation-delay;
}

@mixin animation-timing-function ($animation-timing-function) {
  -webkit-animation-timing-function: $animation-timing-function;
  -moz-animation-timing-function: $animation-timing-function;
  -ms-animation-timing-function: $animation-timing-function;
  -o-animation-timing-function: $animation-timing-function;
  animation-timing-function: $animation-timing-function;
}

@mixin animation-fill-mode ($animation-fill-mode) {
  -webkit-animation-fill-mode: $animation-fill-mode;
  -moz-animation-fill-mode: $animation-fill-mode;
  -ms-animation-fill-mode: $animation-fill-mode;
  -o-animation-fill-mode: $animation-fill-mode;
  animation-fill-mode: $animation-fill-mode;
}

@mixin animation-direction ($animation-direction) {
  -webkit-animation-direction: $animation-direction;
  -moz-animation-direction: $animation-direction;
  -ms-animation-direction: $animation-direction;
  -o-animation-direction: $animation-direction;
  animation-direction: $animation-direction;
}

@mixin animation-iteration-count ($animation-iteration-count) {
  -webkit-animation-iteration-count: $animation-iteration-count;
  -moz-animation-iteration-count: $animation-iteration-count;
  -ms-animation-iteration-count: $animation-iteration-count;
  -o-animation-iteration-count: $animation-iteration-count;
  animation-iteration-count: $animation-iteration-count;
}

@mixin animation($animate...) {
  $max: length($animate);
  $animations: '';

  @for $i from 1 through $max {
      $animations: #{$animations + nth($animate, $i)};

      @if $i < $max {
          $animations: #{$animations + ", "};
      }
  }
  -webkit-animation: $animations;
  -moz-animation:    $animations;
  -o-animation:      $animations;
  animation:         $animations;
}

@mixin keyframes($animationName) {
  @-webkit-keyframes #{$animationName} {
      @content;
  }
  @-moz-keyframes #{$animationName} {
      @content;
  }
  @-o-keyframes #{$animationName} {
      @content;
  }
  @keyframes #{$animationName} {
      @content;
  }
}


/* --------------------- FLEXBOX --------------------- */

// Flexbox display
@mixin flexbox() {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

// The 'flex' shorthand
// - applies to: flex items
// <positive-number>, initial, auto, or none
@mixin flex($values) {
  -webkit-box-flex: $values;
     -moz-box-flex: $values;
      -webkit-flex: $values;
  	  -ms-flex: $values;
  	      flex: $values;
}

// Flex Flow Direction
// - applies to: flex containers
// row | row-reverse | column | column-reverse
@mixin flex-direction($direction) {
  -webkit-flex-direction: $direction;
     -moz-flex-direction: $direction;
      -ms-flex-direction: $direction;
          flex-direction: $direction;
}

// Flex Line Wrapping
// - applies to: flex containers
// nowrap | wrap | wrap-reverse
@mixin flex-wrap($wrap) {
  -webkit-flex-wrap: $wrap;
     -moz-flex-wrap: $wrap;
          flex-wrap: $wrap;
}

// Flex Direction and Wrap
// - applies to: flex containers
// <flex-direction> || <flex-wrap>
@mixin flex-flow($flow) {
  -webkit-flex-flow: $flow;
     -moz-flex-flow: $flow;
      -ms-flex-flow: $flow;
          flex-flow: $flow;
}

// Display Order
// - applies to: flex items
// <integer>
@mixin order($val) {
  -webkit-box-ordinal-group: $val;
     -moz-box-ordinal-group: $val;
  	     -ms-flex-order: $val;
  	      -webkit-order: $val;
  		      order: $val;
}

// Flex grow factor
// - applies to: flex items
// <number>
@mixin flex-grow($grow) {
  -webkit-flex-grow: $grow;
     -moz-flex-grow: $grow;
          flex-grow: $grow;
}

// Flex shrink
// - applies to: flex item shrink factor
// <number>
@mixin flex-shrink($shrink) {
  -webkit-flex-shrink: $shrink;
     -moz-flex-shrink: $shrink;
      -ms-flex-shrink: $shrink;
          flex-shrink: $shrink;
}

// Flex basis
// - the initial main size of the flex item
// - applies to: flex itemsnitial main size of the flex item
// <width>
@mixin flex-basis($width) {
  -webkit-flex-basis: $width;
     -moz-flex-basis: $width;
          flex-basis: $width;
}

// Axis Alignment
// - applies to: flex containers
// flex-start | flex-end | center | space-between | space-around
@mixin justify-content($justify) {
  -webkit-justify-content: $justify;
     -moz-justify-content: $justify;
      -ms-justify-content: $justify;
          justify-content: $justify;
            -ms-flex-pack: $justify;
        -webkit-box-pack: $justify;
}

// Packing Flex Lines
// - applies to: multi-line flex containers
// flex-start | flex-end | center | space-between | space-around | stretch
@mixin align-content($align) {
  -webkit-align-content: $align;
     -moz-align-content: $align;
      -ms-align-content: $align;
          align-content: $align;
}

// Cross-axis Alignment
// - applies to: flex containers
// flex-start | flex-end | center | baseline | stretch
@mixin align-items($align) {
  -webkit-align-items: $align;
     -moz-align-items: $align;
      -ms-align-items: $align;
          align-items: $align;
}

// Cross-axis Alignment
// - applies to: flex items
// auto | flex-start | flex-end | center | baseline | stretch
@mixin align-self($align) {
  -webkit-align-self: $align;
     -moz-align-self: $align;
      -ms-align-self: $align;
          align-self: $align;
}

@mixin flex-row             { flex-direction: row !important; }
@mixin flex-column          { flex-direction: column !important; }
@mixin flex-row-reverse     { flex-direction: row-reverse !important; }
@mixin flex-column-reverse  { flex-direction: column-reverse !important; }

@mixin flex-wrap         { flex-wrap: wrap !important; }
@mixin flex-nowrap       { flex-wrap: nowrap !important; }
@mixin flex-wrap-reverse { flex-wrap: wrap-reverse !important; }
@mixin flex-fill         { flex: 1 1 auto !important; }
@mixin flex-grow-0       { flex-grow: 0 !important; }
@mixin flex-grow-1       { flex-grow: 1 !important; }
@mixin flex-shrink-0     { flex-shrink: 0 !important; }
@mixin flex-shrink-1     { flex-shrink: 1 !important; }

@mixin justify-content-start   { justify-content: flex-start !important; }
@mixin justify-content-end     { justify-content: flex-end !important; }
@mixin justify-content-center  { justify-content: center !important; }
@mixin justify-content-between { justify-content: space-between !important; }
@mixin justify-content-around  { justify-content: space-around !important; }

@mixin align-items-start    { align-items: flex-start !important; }
@mixin align-items-end      { align-items: flex-end !important; }
@mixin align-items-center   { align-items: center !important; }
@mixin align-items-baseline { align-items: baseline !important; }
@mixin align-items-stretch  { align-items: stretch !important; }

@mixin align-content-start   { align-content: flex-start !important; }
@mixin align-content-end     { align-content: flex-end !important; }
@mixin align-content-center  { align-content: center !important; }
@mixin align-content-between { align-content: space-between !important; }
@mixin align-content-around  { align-content: space-around !important; }
@mixin align-content-stretch { align-content: stretch !important; }

@mixin align-self-auto     { align-self: auto !important; }
@mixin align-self-start    { align-self: flex-start !important; }
@mixin align-self-end      { align-self: flex-end !important; }
@mixin align-self-center   { align-self: center !important; }
@mixin align-self-baseline { align-self: baseline !important; }
@mixin align-self-stretch  { align-self: stretch !important; }
