.icon {
  position: relative;
  display: inline-block;
  height: 8rem;
  width: 8rem;
  line-height: 6.8rem;
  text-indent: 0.1rem;
  border-width: 0.3rem;
  border-style: solid;
  @include border-radius (50%); 

  @include media-breakpoint-up(md) {
    height: 9rem;
    width: 9rem;
    line-height: 7.8rem;
  }

  &-email {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background: $color-midnight;
    // border-color: lighten($color-delta, 15%);
    border-color: lighten($color-alpha, 10%);
    
    svg {
      width: 4.2rem;
      height: 4.4rem;
      fill: $color-white;

      @include media-breakpoint-up(md) {
        width: 4.7rem;
        height: 4.9rem;
      }

    }

  }

  &-alert {
    font-size: 5.5rem;
    color: $color-white;
    background: $color-delta;
    border-color: $color-beta;

    i {
      position: absolute;
      transform: translate(-50%);
      top: 50%;
      left: 50%;
      line-height: 0;
    }

  }

}