.sector-sub-page {
    border-top: 30px solid pink;
    // margin-bottom: 30px;

    .sector-sub-nav {
        margin-top: 30px;

        a {
            border-color: $secondary;
            color: $secondary;

            &:hover, &[aria-current='page'] {
                color: $c-white;
                background: $secondary;
            }
        }
    }

    p {
        color: $secondary;
    }
    .wp-block-column p {
        @extend .text-hind, .text-dark, .text-left;
    }
}
.page-banner {
    border: 3px solid red;
    h1 {
        color: yellow;
    }
}